body {
    background-color: #ffffff;
    font-family: 'Helvetica', sans-serif;
}
nav.page {
    display: flex;
    justify-content: flex-start; /* 水平置中 */
    align-items: center;     /* 垂直置中 */

}

p {
    color: #bb2626;
    line-height: 1.5;
}
